<%- layout("Layouts/boilerplate") %>
<body>
    <div class="row mt-3 ">
        <div class="col-8  offset-2">
    <h3>Edit Listing </h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="description" class="form-label">Title</label>
            <textarea type="text" name="Listing[title]" class="form-control" ><%= listing.description %></textarea>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <textarea type="text" name="Listing[description]" class="form-control" ><%= listing.description %></textarea>
        </div>
        <div class="mb-3">
            <img src=<%= originalImageUrl %>>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="Listing[image]" class="form-control">
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="price" class="form-label">price</label>
                <input type="number" name="Listing[price]" value="<%= listing.price %>" class="form-control">
            </div>
            <div class="col-md-8">
                <label for="country" class="form-label">country</label>
                <input type="name" name="Listing[country]" value="<%= listing.country %>"class="form-control">
            </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input type="text" name="Listing[location]" value="<%= listing.location %>"class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="Listing[category]" class="form-control" required>
                <option value="">Select Category</option>
                <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
                <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Iconic Cities</option>
                <option value="Mountains" <%= listing.category === 'Mountains' ? 'selected' : '' %>>Mountains</option>
                <option value="Castle" <%= listing.category === 'Castle' ? 'selected' : '' %>>Castle</option>
                <option value="Pools" <%= listing.category === 'Pools' ? 'selected' : '' %>>Pools</option>
                <option value="Camp" <%= listing.category === 'Camp' ? 'selected' : '' %>>Camp</option>
                <option value="Hangouts" <%= listing.category === 'Hangouts' ? 'selected' : '' %>>Hangouts</option>
                <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
                <option value="Country Side" <%= listing.category === 'Country Side' ? 'selected' : '' %>>Country Side</option>
                <option value="Adventure" <%= listing.category === 'Adventure' ? 'selected' : '' %>>Adventure</option>
                <option value="Landscapes" <%= listing.category === 'Landscapes' ? 'selected' : '' %>>Landscapes</option>
                <option value="Landmark" <%= listing.category === 'Landmark' ? 'selected' : '' %>>Landmark</option>
            </select>
            <div class="invalid-feedback">Please select a category.</div>
        </div>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>

</div>

</div>

</body>
